<a href="https://colab.research.google.com/github/jhaabhishek873/googleColab/blob/main/Handling_imbalanced_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Imbalanced Dataset**:

> A data set with an unequal class distribution

In [1]:
# importing the dependencies 
import numpy as np
import pandas as pd

In [21]:
# loading the dataset to pandas Dataframe
credit_card_data = pd.read_csv('/content/credit_data.csv')

In [17]:
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [18]:
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
281162,169976.0,1.982862,-0.191857,-1.288356,0.242522,0.211868,-0.374508,0.070290,-0.082566,0.300299,...,-0.184553,-0.466302,0.300574,0.719913,-0.229497,0.223967,-0.082091,-0.063403,21.39,0.0
281163,169976.0,-1.307438,-0.436296,1.382657,0.321161,0.526295,0.085972,0.668555,0.259204,-0.281912,...,0.041594,-0.465836,0.463291,-0.586186,-0.153310,-0.974211,0.069566,0.164605,196.74,0.0
281164,169976.0,-0.118356,0.999900,-0.489499,-1.194648,1.370202,-1.152867,1.633383,-0.369153,-0.888770,...,0.278934,0.845246,-0.448409,-0.345288,0.117910,0.169825,0.087010,0.139218,0.77,0.0
281165,169979.0,-1.058675,1.748133,-0.757358,-0.367130,0.555888,-1.274261,0.903275,-0.184630,0.331954,...,0.300303,1.098596,-0.152620,-0.150452,-0.408381,-0.205347,-0.231437,0.069091,2.64,0.0
281166,169979.0,-0.162987,1.348668,1.278697,4.398252,1.191563,2.071459,0.434193,0.424164,-1.950008,...,0.255804,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
credit_card_data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

This is Highly Imbalanced Dataset

0--> Legit transactions

1--> fraud transactions

In [23]:
# saparating the legit and fraudulent transactions
legit = credit_card_data[credit_card_data.Class==0]
fraud = credit_card_data[credit_card_data.Class==1]

In [24]:
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

Under-smapling

Build a Sample dataset containing similar distribution of legit & fraudent  Transactions

N0 . of Fraud Transactions --> 492

In [25]:
legit_sample = legit.sample(n=492)

In [26]:
print(legit_sample.shape)

(492, 31)

Concatenate the two Dataframe

In [27]:
new_dataset = pd.concat([legit_sample,fraud], axis =0)

In [28]:
print(new_dataset.shape)

(984, 31)

In [29]:
new_dataset['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64